<div class="container">

    <form class="form-horizontal" id="form">
        <fieldset>
            <div class="form-group">
                <label for="inputMessage" class="col-md-2 control-label">Message</label>
                <div class="col-md-7 form-group">
                    <input type="text" class="form-control" id="inputMessage" placeholder="new message">
                </div>
                <div class="col-md-3 form-group text-right">
                    <button type="submit" class="btn btn-primary">Post Message</button>
                </div>
            </div>
        </fieldset>
    </form>

    <ul id="messages" class="list-group"></ul>

</div>
